html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.mo-optin-form-wrapper{
    border-radius: 0 !important;
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.mo-optin-form-wrapper{
    border: none !important;
    background-color: var(--orange-overlay) !important;
    
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container div.columbine-heading h3{
    color: var(--orange) !important;
}
div#UUeHPrQCcA div#UUeHPrQCcA_inpost .mo-optin-form-description, div#UUeHPrQCcA div.mo-optin-form-container div#UUeHPrQCcA_inpost p{
    color: var(--dark-green) !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container div.columbine-note span{
    color: var(--dark-green) !important;
}

html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container input.columbine-submit{
    transition: var(--main-transition);
    text-transform: uppercase !important;
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container input.columbine-submit:hover{
    background-color: var(--orange) !important; 
    
}