

/* main styles  */

.styled__eo-form {
    padding: 25px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styled__eo-form h3{
    color: var(--text-color);
}

.styled__eo-form p{
    color: var(--dark-green);
}

.styled__eo-form p:nth-child(3){
    font-size: 13px;
}

.styled__eo-form .email-octopus-form-wrapper{
    margin-top: 20px;
    width: 100%;
}
.styled__eo-form .email-octopus-form-wrapper form{
    width: 80%;
    margin: 0 auto;
}
.styled__eo-form .email-octopus-form-wrapper form .email-octopus-form-row{
    margin-bottom: 10px;
}

.styled__eo-form .email-octopus-form-wrapper form .email-octopus-form-row input{
    border-radius: 5px;
}

.styled__eo-form .email-octopus-form-wrapper form .email-octopus-form-row-subscribe button{
    width: 100%;
    background-color: var(--orange);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: var(--main-transition);
    border: 1px solid var(--orange);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align:center;
}
.styled__eo-form .email-octopus-form-wrapper form .email-octopus-form-row-subscribe button:hover{
    background-color: var(--dark-green);
    border-color: var(--dark-green);
  
    
}

/* MOBILE  */


@media(max-width: 480px){
    .styled__eo-form {
        padding: 30px;
        
    }
}

@media(max-width: 400px){
    .styled__eo-form p:nth-child(2){
        font-size:16px;
        
    }
    
}


@media(max-width: 375px){
    .styled__eo-form {
        padding: 10px;
        
    }
    .styled__eo-form .email-octopus-form-wrapper form .email-octopus-form-row input{
        font-size: 16px;
    }
}