/* ASHLEY PAGE  */

/* .ashley_page .ashley__section__header{
    margin-top: 30px;
}

.ashley_page .ashley__section__header .section-content h1{

	margin:0 auto;
	font-size: 50px;
	font-weight: 700;
	color: $text-color;
}

.ashley_page .ashley__section__text h3{
    color: $orange;
} */

.ashley_page .ashley__section__text .ashley__image{
	border-radius: 100%;
	border: 3px dotted $orange;
}
.ashley_page .ashley__section__text .wrap{
	padding-top: 0;
}