.blog{
    .banner-title, .archive-title{
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        text-align:center;
        // text-transform: uppercase;
        
    }
    .entry-title{
        a{
            color: $dark-green;
            &:hover{
                color: $medium-green;
            }
        }

    }
    .more-link{
        background-color: #fff;
        color: $orange;
        padding: 11px 14px 11px 0px;
        &:hover{
            color: $medium-green;
            background-color: #fff;
            padding: 11px 14px 11px 0px;
        }
    }
    
}