/* FOOTER  */
.site-footer{
	background-color: #fff;
}
	

.site-footer .wrap{
	display: flex;
    justify-content: center;
	align-items: center;
	
}

.site-footer .wrap p{
	color: $dark-green;
}
.site-footer .wrap  a.footer-news,
.site-footer .wrap  a.footer-link,
.site-footer .wrap  a.footer-contact{
	color: $dark-blue;
	text-decoration: none;
	transition: $main-transition;
	border: none;
}
.site-footer .wrap  a.footer-news:hover,
.site-footer .wrap  a.footer-link:hover,
.site-footer .wrap  a.footer-contact:hover{
	color: $orange;
	text-decoration: none;
	border: none;
}

.site-footer .wrap input[type="search"]{
    padding: 5px 12px;
    border-radius: 3px;
    margin-top: 15px;
    background-color: #fff;
}
