.site-header{

    .site-title a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav-header{
        .menu-item{
            a{
                color: $text-color;
                text-decoration: none;
                font-size: 16px;
            }
        }
        .menu-item:hover{
            a{
                color: $medium-green;
                text-decoration: none;
                
            }
        }
        .current-menu-item{
            a{
                color: $dark-green;
                
    
            }
        }
        .current-menu-item:hover{
            a{
                color: $medium-green;
                text-decoration: none;
                
    
            }
        }
        
    }
}