.site-header{
    .nav-header{
        .menu-item{
            a{
                color: $text-color;
                text-decoration: none;
                
            }
        }
        .menu-item:hover{
            a{
                color: $medium-green;
                text-decoration: none;
                
            }
        }
        .current-menu-item{
            a{
                color: $dark-green;
                
    
            }
        }
        .current-menu-item:hover{
            a{
                color: $medium-green;
                text-decoration: none;
                
    
            }
        }
        
    }
}