.single-post{
    article{
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .entry-title{
                color: $dark-green;
            }
            .entry-meta{
                a{
                    color: $orange;
                    text-decoration: none;
                    &:hover{
                        color: $medium-green;
                    }
                }

            }
        }
        .entry-content{
            h3{
                color: $dark-green;
                text-transform: capitalize;
            }
        }
        
    }
}