.tbl_page .subpage__section__text .wrap{
    padding-top: 0;
}
.tbl_page .styled__eo-form .email-octopus-form-wrapper form .email-octopus-form-row-subscribe button:hover {
    
    background-color: $dark-green;
    border: 1px solid $dark-green;
    
}
.tbl_page .quote {
    padding-top: 0;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    border-left: none;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    &:before{
        display: none;
    }
}
.tbl_page .quote p {
    color: $light-orange;
    margin-bottom: 5px;
}