html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.mo-optin-form-wrapper{
    border-radius: 0 !important;
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.mo-optin-form-wrapper{
    border: none !important;
    background-color: $orange-overlay !important;
    
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container div.columbine-heading h3{
    color: $orange !important;
}
div#UUeHPrQCcA div#UUeHPrQCcA_inpost .mo-optin-form-description, div#UUeHPrQCcA div.mo-optin-form-container div#UUeHPrQCcA_inpost p{
    color: $dark-green !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container div.columbine-note span{
    color: $dark-green !important;
}

html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container input.columbine-submit{
    transition: $main-transition;
    text-transform: uppercase !important;
}
html div#UUeHPrQCcA div#UUeHPrQCcA_inpost.columbine-container input.columbine-submit:hover{
    background-color: $orange !important; 
    
}