.in-post__section{
    padding:20px;
    border-top: 1px solid #efefef;
    border-bottom:1px solid #efefef;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    .in-post__section__wrapper{
        display: flex;
        align-items:center;
        justify-content: space-evenly;
        .in-post__image{
            width: 30%;
            display: flex;
            justify-content: center;
            .image__wrapper{
                width: 100%;
                img{
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                    -webkit-box-shadow: -1px 2px 5px -1px rgba(94,94,94,1);
                    -moz-box-shadow: -1px 2px 5px -1px rgba(94,94,94,1);
                    box-shadow: -1px 2px 5px -1px rgba(94,94,94,1);
                }
            }
            
        }
        .in-post__form{
            width: 60%;
            .in-post__form__text{
                .text{
                    color: $orange;
                    .bootstrap{
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    .checklist{
                        border-bottom: 1px dotted $orange;
                    }
                    .free{
                        text-transform: uppercase;
                    }
                    .money{
                        color: $dark-green;
                    }
                }
            }
            
        }
        form{
            button{
                background-color: $orange;
                width: 100%;
                transition: $main-transition;
                text-transform: uppercase;
                font-weight: 500;
                &:hover{
                    background-color: $dark-green;
                }
            }
        }
    }
}

@media(max-width: 800px){
    .in-post__section .in-post__section__wrapper .in-post__form{
        width: 100%;
    }
    .in-post__section .in-post__section__wrapper{
        flex-direction:column;
    }
    .in-post__section .in-post__section__wrapper .in-post__form .in-post__form__text{
        text-align:center;
    }
}

@media(max-width: 480px){
    
    .in-post__section .in-post__section__wrapper .in-post__form .in-post__form__text .text{
        font-size: 1em;
    }
}