.home{
    .home__quote{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .home__boss-section{
        .smaller-text{
            font-size: 1.8rem;
        }
    }
}

.home__hero__logo {
    width: 150px;
    margin: 20px auto;

    a {
        border-bottom: none;

        &:hover {
            border-bottom: none;
        }
    }
}

.home__hero {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
    
    .home__hero__form {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 50px 0px 50px 0px;

        .home__hero__blog-link {
            padding-top: 30px;
        }

        .home__hero__form__text--top {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;

            h1 {
                color: $orange;

                span {
                    font-weight: 700;
                }
            }

            .top-text {
                color: $text-color;
                font-weight: 300;
                max-width: 95%;

                span {
                    font-weight: 500;
                }
            }

            .bottom-text {
                margin-bottom: 15px;
                color: $text-color;
                font-weight: 300;
                // max-width: 95%;

                span {
                    color: $dark-green;
                    font-weight: 500;
                }
            }
        }

        .home__hero__form__form {
            input {
                width: 90%;
                margin-bottom: 10px;
            }

            button {
                background-color: $orange;
                text-transform: uppercase;
                font-weight: 500;
                width: 90%;

                &:hover {
                    background-color: $dark-green;
                }
            }

        }

        .home__hero__form__text--bottom {
            padding-top: 25px;

            p {
                color: $text-color;
                font-weight: 300;
                max-width: 90%;

                span {
                    font-weight: 500;
                }
            }
        }
    }

    .home__hero__image {
        display: flex;
        width: 35%;
        justify-content: center;
        position: relative;

        // .home__hero__blog-link {

        //     z-index: 20;
        //     display: block;
        //     position: absolute;
        //     top: 40%;
        //     color: white;
        //     text-decoration: none;
        //     font-size: 3rem;
        // }

        // .home__hero__image__overlay {
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(39, 118, 159, .5);
        // }

        img {
            height: auto;
            width: 80%;
        }
    }

}

/**
    MOBILE
*/

@media(max-width: 1024px) {
    .home__hero {
        flex-direction: column;
        align-items: center;

        .home__hero__form {
            width: 100%;
            margin: 0 auto;
            padding-top: 0;
            padding-bottom: 50px;

            .home__hero__blog-link {
                display: none;
            }

            .home__hero__form__text--top {
                max-width: 80%;
                h1 {
                    text-align: left;
                    width: 90%;
                    margin: 0 auto 20px auto;
                    font-size: 3rem;
                }

                .top-text {
                    
                    margin: 10px auto;
                }

                .bottom-text {
                    width: 90%;
                    // max-width: 90%;
                    margin: 0 auto 20px auto;
                }
            }

            .home__hero__form__form {
                width: 90%;
                margin: 0 auto;

                input {
                    width: 100%;

                }

                button {
                    width: 100%;
                }
            }
        }

        .home__hero__image {
            display: none;
            // width: 100%;

            // img {
            //     width: 30%;
            // }
        }
    }

}

@media(max-width: 730px){
    .home__hero .home__hero__form .home__hero__form__text--top h1{
        font-size: 2rem;
    }
    .home__hero .home__hero__form .home__hero__form__text--top .bottom-text{
        font-size: 1.4rem;
        width: 80%;
    }

}

@media(max-width: 650px){
    .home__hero .home__hero__form .home__hero__form__text--top{
        width: 100%;
    }
    .home__hero .home__hero__form .home__hero__form__text--top h1{
        width: 100%;
    }
    .home__hero .home__hero__form .home__hero__form__text--top .bottom-text{
        
        width: 100%;
    }
}