
html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.mo-optin-form-wrapper{
    border-radius: 0 !important;
}
html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.mo-optin-form-wrapper{
    border: none !important;
    background-color: $orange-overlay !important;
    margin-top: 40px !important;
    
}
div#RtTnYTJvLy div#RtTnYTJvLy_inpost .mo-optin-form-headline, div#RtTnYTJvLy div.mo-optin-form-container h2, div#RtTnYTJvLy div.mo-optin-form-container h1{
    color: $orange !important;
}
div#RtTnYTJvLy div#RtTnYTJvLy_inpost .mo-optin-form-description, div#RtTnYTJvLy div.mo-optin-form-container div#RtTnYTJvLy_inpost p{
    color: $dark-green !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal .moElegance_note span{
    color: $dark-green !important;
}

html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal input.moEleganceModal_input_fields, html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal input.mo-optin-form-custom-field.text-field, html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal input.mo-optin-form-custom-field.date-field, html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal .mo-optin-form-custom-field.select-field, html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal textarea.mo-optin-form-custom-field.textarea-field {
    
    border: none !important;
    outline: 0 !important;
}

html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal .moEleganceModal_button{
    text-transform: uppercase !important;
    transition: $main-transition;
}
html div#RtTnYTJvLy div#RtTnYTJvLy_inpost.moEleganceModal .moEleganceModal_button:hover{
    background-color: $dark-green !important;
}